<!DOCTYPE html>
<html>
  <head>
    <title>Plato</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <a href="#" class="logo">Plato</a>
        <div class="header-right">
          <% if user_signed_in? %>
            <%= link_to "DashBoard", dashboard_user_path(current_user) %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
          <% else %>
            <%= link_to "User Signup", new_user_registration_path  %>
            <%= link_to "User Login", new_user_session_path  %>
          <% end %>
        </div>
      </div>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
